<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

    <title>@ViewData["Title"] - নগর হাওলা সরকারি প্রাথমিক বিদ্যালয়</title>

    <environment include="Development">
        @RenderSection("LoginCss", required: false)
        <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/template-default.css" type="text/css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=latin,latin-ext" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="~/css/navresponsive.css" type="text/css" />
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />
        <link rel="stylesheet" href="~/css/sj-accordion.css" type="text/css" />
        <link rel="stylesheet" href="~/css/slider.css" type="text/css" />
        <link rel="stylesheet" href="~/css/sj-slickslider.css" type="text/css" />
        <link rel="stylesheet" href="~/css/shortcodes.css" type="text/css" />
        <link rel="stylesheet" href="~/css/part.css" type="text/css">
        <link rel="stylesheet" href="~/css/footer.css" type="text/css">
        <link rel="stylesheet" href="~/css/contact.css" type="text/css">
        @RenderSection("AboutCss", required: false)
        <link rel="stylesheet" href="~/css/custom.css" type="text/css" />



        <style type="text/css">
            .container {
                width: 1200px
            }

            body {
                font-family: Ubuntu
            }
        </style>

        @RenderSection("Scripts", required: false)
        <script src="~/js/jquery.min.js" type="text/javascript"></script>
        <script src="~/js/jquery-noconflict.js" type="text/javascript"></script>
        <script src="~/js/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="~/js/k2.js" type="text/javascript"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/js/jquery.miniColors.min.js" type="text/javascript"></script>
        <script src="~/js/jquery.prettyPhoto.js" type="text/javascript"></script>
        <script src="~/js/ytsticky.js" type="text/javascript"></script>
        <script src="~/js/yt-script.js" type="text/javascript"></script>
        <script src="~/js/jcarousel.js" type="text/javascript"></script>
        <script src="~/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="~/js/jquery.touchwipe.1.1.1.js" type="text/javascript"></script>
        <script src="~/js/jquery.megamenu.js" type="text/javascript"></script>
        <script src="~/js/jquery.easing.1.3.js" type="text/javascript"></script>
        <script src="~/js/touchswipe.min.js" type="text/javascript"></script>
        <script src="~/js/acymailing_module.js?v=492" type="text/javascript"></script>
        <script src="~/js/modernizr.min.js" type="text/javascript"></script>
        <script src="~/js/classie.js" type="text/javascript"></script>
        <script src="~/js/photostack.js" type="text/javascript"></script>
        <script src="~/js/jquery.sj_accordion.js" type="text/javascript"></script>
        <script src="~/js/slider.js" type="text/javascript"></script>
        <script src="~/js/jquery.cj-swipe.js" type="text/javascript"></script>
        <script src="~/js/jquery-noconflict.js" type="text/javascript"></script>
        <script src="~/js/jcarousel.js" type="text/javascript"></script>
        <script src="~/js/jquery.cj-swipe.js" type="text/javascript"></script>
        <script src="~/js/prettify.js" type="text/javascript"></script>
        <script src="~/js/shortcodes.js" type="text/javascript"></script>


    </environment>
</head>
<body id="bd" class="homepage home-layout1 res">
    <div id="yt_wrapper" class="layout-wide">
        <header id="yt_header" class="block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="custom_center">
                        <p class="custom_center">টেলিফোন- ৫৫৯০৩৯৮৪, ৫৫৯০৩৯৮৪৫, ৫৫৯০৩৯৮৪৮ মোবাইলঃ +৮৮  ০১৭২০০১৯৭০৩,০১৭৪০৬০০৫৯৩,০১৬৩৬৩৩৯৩১০ ফ্যাক্সঃ (৮৮০-২) ৫৮৯৫ ২৬২৫|nagarhawlagps.bd@gmail.com</p>
                    </div>
                </div>
            </div>
        </header>
        <nav id="yt_menuwrap" class="block">
            <div class="container">
                <div class="row">
                    <div id="yt_logo" class="col-md-12 col-sm-12">
                        <a class="logo" href="" title="নগর হাওলা সরকারি প্রাথমিক বিদ্যালয় ">
                            <img class="img-responsive" data-placeholder="no" src="~/images/logo.jpg" alt="নগর হাওলা সরকারি প্রাথমিক বিদ্যালয়" style="float:left; margin-top:10px" />
                            <div>
                                <h3 class="custom_title h3">নগর হাওলা সরকারি প্রাথমিক বিদ্যালয়</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div id="yt_mainmenu" class="col-md-9 col-sm-12 ">
                        <ul id="meganavigator" class="clearfix navi ">
                            <li class="@ViewData["mainPageActive"] level1 first ">
                                <a title="Home " class="@ViewData["mainPageActive"] level1 first  item-link" asp-controller="Home" asp-action="Index"><span class="menu-title">প্রধান পাতা</span></a>
                            </li>
                            <li class="@ViewData["admissionActive"] level1 havechild ">
                                <a title="Admission " class="@ViewData["admissionActive"] level1 havechild  item-link" asp-controller="Home" asp-action="Admission"><span class="menu-title">ভর্তি </span></a>
                                <!-- open mega-content div -->
                                <div class="level2 menu mega-content">
                                    <div class="mega-content-inner clearfix">
                                        <div class="mega-col first one">
                                            <ul class="subnavi level2">
                                                <li class="level2 ">
                                                    <a title="Admission " class="@ViewData["admissionActive"] level2  item-link" asp-controller="Home" asp-action="AdmissionProcess"><span class="menu-title">ভর্তি প্রক্রিয়া </span></a>

                                                </li>
                                                <li class="level2 last">
                                                    <a title="Admission " class="@ViewData["admissionActive"] level2  item-link" asp-controller="Home" asp-action="AdmissionForm"><span class="menu-title">ভর্তি ফর্ম </span></a>

                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li class="@ViewData["resultActive"] level1 havechild ">
                                <a title="Result" class="@ViewData["resultActive"] level1 havechild  item-link" asp-controller="Home" asp-action="Result"><span class="menu-title">ফলাফল </span></a>
                                <!-- open mega-content div 
                                <div class="level2 menu mega-content">
                                    <div class="mega-content-inner clearfix">


                                        <div class="mega-col first one">
                                            <ul class="subnavi level2">
                                                <li class="level2 first havechild ">
                                                    <a title="Blog Content" class="level2 first havechild  item-link" href="index.php/joomla-pages-2/blog-joomla"><span class="menu-title">Blog Content</span></a>
                                                    <!-- open mega-content div 
                                                    <div class="level3 menu mega-content">
                                                        <div class="mega-content-inner clearfix">


                                                            <div class="mega-col first one">
                                                                <ul class="subnavi level3">
                                                                    <li class="level3 first ">
                                                                        <a title="List All Categories" class="level3 first  item-link" href="index.php/joomla-pages-2/blog-joomla/list-all-categories"><span class="menu-title">List All Categories</span></a>
                                                                    </li>

                                                                    <li class="level3 ">
                                                                        <a title="Featured Articles" class="level3  item-link" href="index.php/joomla-pages-2/blog-joomla/featured-articles"><span class="menu-title">Featured Articles</span></a>
                                                                    </li>

                                                                    <li class="level3 ">
                                                                        <a title="Category List" class="level3  item-link" href="index.php/joomla-pages-2/blog-joomla/category-list"><span class="menu-title">Category List</span></a>
                                                                    </li>

                                                                    <li class="level3 havechild ">
                                                                        <a title="Category Blog" class="level3 havechild  item-link" href="index.php/joomla-pages-2/blog-joomla/category-blog"><span class="menu-title">Category Blog</span></a>
                                                                        <!-- open mega-content div 
                                                                        <div class="level4 menu mega-content">
                                                                            <div class="mega-content-inner clearfix">


                                                                                <div class="mega-col first one">
                                                                                    <ul class="subnavi level4">
                                                                                        <li class="level4 first ">
                                                                                            <a title="Category Blog (1 column)" class="level4 first  item-link" href="index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-1-column"><span class="menu-title">Category Blog (1 column)</span></a>
                                                                                        </li>

                                                                                        <li class="level4 ">
                                                                                            <a title="Category Blog (2 columns)" class="level4  item-link" href="index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-2-columns"><span class="menu-title">Category Blog (2 columns)</span></a>
                                                                                        </li>

                                                                                        <li class="level4 ">
                                                                                            <a title="Category Blog (3 columns)" class="level4  item-link" href="index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-3-columns"><span class="menu-title">Category Blog (3 columns)</span></a>
                                                                                        </li>

                                                                                        <li class="level4 last ">
                                                                                            <a title="Category Blog (4 columns)" class="level4 last  item-link" href="index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-4-columns"><span class="menu-title">Category Blog (4 columns)</span></a>
                                                                                        </li>

                                                                                    </ul>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </li>

                                                                    <li class="level3 havechild ">
                                                                        <a title="Category Tag" class="level3 havechild  item-link" href="index.php/joomla-pages-2/blog-joomla/tags"><span class="menu-title">Category Tag</span></a>
                                                                        <!-- open mega-content div 
                                                                        <div class="level4 menu mega-content">
                                                                            <div class="mega-content-inner clearfix">


                                                                                <div class="mega-col first one">
                                                                                    <ul class="subnavi level4">
                                                                                        <li class="level4 first ">
                                                                                            <a title="Compact List Of Tagged Items" class="level4 first  item-link" href="index.php/joomla-pages-2/blog-joomla/tags/compact-list-of-tagged-items"><span class="menu-title">Compact List Of Tagged Items</span></a>
                                                                                        </li>

                                                                                        <li class="level4 ">
                                                                                            <a title="List Of All Tags" class="level4  item-link" href="index.php/joomla-pages-2/blog-joomla/tags/list-of-all-tags"><span class="menu-title">List Of All Tags</span></a>
                                                                                        </li>

                                                                                        <li class="level4 last ">
                                                                                            <a title="Tagged Items" class="level4 last  item-link" href="index.php/joomla-pages-2/blog-joomla/tags/tagged-items"><span class="menu-title">Tagged Items</span></a>
                                                                                        </li>

                                                                                    </ul>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </li>

                                                                    <li class="level3 last ">
                                                                        <a title="Single Article" class="level3 last  item-link" href="index.php/joomla-pages-2/blog-joomla/single-article"><span class="menu-title">Single Article</span></a>
                                                                    </li>

                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="level2 havechild ">
                                                    <a title="Search" class="level2 havechild  item-link" href="index.php/joomla-pages-2/smart-seach"><span class="menu-title">Search</span></a>
                                                    <!-- open mega-content div 
                                                    <div class="level3 menu mega-content">
                                                        <div class="mega-content-inner clearfix">


                                                            <div class="mega-col first one">
                                                                <ul class="subnavi level3">
                                                                    <li class="level3 first ">
                                                                        <a title="Search" class="level3 first  item-link" href="index.php/joomla-pages-2/smart-seach/seach"><span class="menu-title">Search</span></a>
                                                                    </li>

                                                                    <li class="level3 last ">
                                                                        <a title="Smart Search" class="level3 last  item-link" href="index.php/joomla-pages-2/smart-seach/smart-search"><span class="menu-title">Smart Search</span></a>
                                                                    </li>

                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="level2 ">
                                                    <a title="Login Form" class="level2  item-link" href="index.php/joomla-pages-2/login-form"><span class="menu-title">Login Form</span></a>
                                                </li>

                                                <li class="level2 ">
                                                    <a title="Page Breaks" class="level2  item-link" href="index.php/joomla-pages-2/page-break-example"><span class="menu-title">Page Breaks</span></a>
                                                </li>

                                                <li class="level2 last ">
                                                    <a title="Iframe Wrapper" class="level2 last  item-link" href="index.php/joomla-pages-2/iframe-wrapper"><span class="menu-title">Iframe Wrapper</span></a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>-->

                            <li class="@ViewData["aboutActive"] level1 havechild ">
                                <a title="About " class="@ViewData["aboutActive"] level1  item-link" asp-controller="Home" asp-action="About"><span class="menu-title">আমাদের সম্পর্কে  </span></a>
                                <div class="level2 menu mega-content">
                                    <div class="mega-content-inner clearfix">
                                        <div class="mega-col first one">
                                            <ul class="subnavi level2">
                                                <li class="level2 last">
                                                    <a title="Admission " class="@ViewData["admissionActive"] level2  item-link" asp-controller="Home" asp-action="Gallery"><span class="menu-title">ফটো গ্যালারি </span></a>
                                                </li>
                                                </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li class="@ViewData["contactActive"] level1 havechild ">
                                <a title="Contact " class="@ViewData["contactActive"] level1 havechild  item-link" asp-controller="Home" asp-action="Contact"><span class="menu-title">যোগাযোগ</span></a>
                            </li>

                            <li class="@ViewData["loginActive"] level1 last havechild ">
                                <a title="login" class="@ViewData["loginActive"] level1 last havechild  item-link" asp-controller="Login" asp-action="Login"><span class="menu-title">লগ ইন</span></a>
                            </li>

                        </ul>
                        <script type="text/javascript">
                            jQuery(function ($) {
                                $('#meganavigator').megamenu({
                                    'wrap': '#yt_menuwrap .container',
                                    'easing': 'easeInOutCirc',
                                    'mm_timeout': '250',
                                    'justify': 'left'
                                });
                            });

                        </script>

                        <!-- Nav bar for small device -->

                        <div id="yt-responivemenu" class="yt-resmenu ">
                            <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed" type="button">
                                <i class="fa fa-bars"></i> Menu
                            </button>
                            <div id="resmenu_sidebar" class="nav-collapse collapse">
                                <ul class="nav resmenu">
                                    <li><a title="Home " asp-controller="Home" asp-action="Home" class="@ViewData["mainPageActive"]">প্রধান পাতা </a>        </li>

                                    <li class="haveChild level1">
                                        <a title="Explore " asp-controller="Home" asp-action="Admission" class="@ViewData["admissionActive"]">ভর্তি </a>							<span class="menuress-toggle"></span>
                                        <div class="res-wrapnav">
                                            <ul class="nav">
                                                <li class="haveChild level2">
                                                    <a title="Layouts" href="#1">Layouts</a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="All Sidebar Blocks" href='index.php/explore/layout/all-sidebar-blocks'>All Sidebar Blocks</a>        </li>
                                                            <li><a title="Left Sidebar " href='index.php/explore/layout/left-sidebar'>Left Sidebar </a>        </li>
                                                            <li><a title="Right Sidebar " href='index.php/explore/layout/content-right-sidebar'>Right Sidebar </a>        </li>
                                                            <li><a title="Full Width" href='index.php/explore/layout/full-width'>Full Width</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="haveChild level2">
                                                    <a title="Menu Style" href='#'>Menu Style</a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="Sider Menu" href='index.php/explore/menu-style/sider-menu'>Sider Menu</a>        </li>
                                                            <li><a title="Tree Menu" href='index.php/explore/menu-style/tree-menu'>Tree Menu</a>        </li>
                                                            <li><a title="Accordion Menu" href='index.php/explore/menu-style/accordion-menu'>Accordion Menu</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a title="Extensions" href='index.php/explore/extenstions'>Extensions</a>        </li>
                                                <li><a title="Module Variations" href='index.php/explore/module-variations'>Module Variations</a>        </li>
                                                <li><a title="Module Positions" href='index.php/explore/module-positions'>Module Positions</a>        </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="haveChild level1">
                                        <a title="Joomla" asp-controller="Home" asp-action="Result" class="@ViewData["resultActive"]">ফলাফল </a>
                                        <span class="menuress-toggle"></span>
                                        <div class="res-wrapnav">
                                            <ul class="nav">
                                                <li class="haveChild level2">
                                                    <a title="Blog Content" href='index.php/joomla-pages-2/blog-joomla'>Blog Content</a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="List All Categories" href='index.php/joomla-pages-2/blog-joomla/list-all-categories'>List All Categories</a>        </li>
                                                            <li><a title="Featured Articles" href='index.php/joomla-pages-2/blog-joomla/featured-articles'>Featured Articles</a>        </li>
                                                            <li><a title="Category List" href='index.php/joomla-pages-2/blog-joomla/category-list'>Category List</a>        </li>
                                                            <li class="haveChild level3">
                                                                <a title="Category Blog" href='index.php/joomla-pages-2/blog-joomla/category-blog'>Category Blog</a>							<span class="menuress-toggle"></span>
                                                                <div class="res-wrapnav">
                                                                    <ul class="nav">
                                                                        <li><a title="Category Blog (1 column)" href='index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-1-column'>Category Blog (1 column)</a>        </li>
                                                                        <li><a title="Category Blog (2 columns)" href='index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-2-columns'>Category Blog (2 columns)</a>        </li>
                                                                        <li><a title="Category Blog (3 columns)" href='index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-3-columns'>Category Blog (3 columns)</a>        </li>
                                                                        <li><a title="Category Blog (4 columns)" href='index.php/joomla-pages-2/blog-joomla/category-blog/category-blog-4-columns'>Category Blog (4 columns)</a>        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="haveChild level3">
                                                                <a title="Category Tag" href='index.php/joomla-pages-2/blog-joomla/tags'>Category Tag</a>							<span class="menuress-toggle"></span>
                                                                <div class="res-wrapnav">
                                                                    <ul class="nav">
                                                                        <li><a title="Compact List Of Tagged Items" href='index.php/joomla-pages-2/blog-joomla/tags/compact-list-of-tagged-items'>Compact List Of Tagged Items</a>        </li>
                                                                        <li><a title="List Of All Tags" href='index.php/joomla-pages-2/blog-joomla/tags/list-of-all-tags'>List Of All Tags</a>        </li>
                                                                        <li><a title="Tagged Items" href='index.php/joomla-pages-2/blog-joomla/tags/tagged-items'>Tagged Items</a>        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li><a title="Single Article" href='index.php/joomla-pages-2/blog-joomla/single-article'>Single Article</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="haveChild level2">
                                                    <a title="Search" href='index.php/joomla-pages-2/smart-seach'>Search</a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="Search" href='index.php/joomla-pages-2/smart-seach/seach'>Search</a>        </li>
                                                            <li><a title="Smart Search" href='index.php/joomla-pages-2/smart-seach/smart-search'>Smart Search</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a title="Login Form" href='index.php/joomla-pages-2/login-form'>Login Form</a>        </li>
                                                <li><a title="Page Breaks" href='index.php/joomla-pages-2/page-break-example'>Page Breaks</a>        </li>
                                                <li><a title="Iframe Wrapper" href='index.php/joomla-pages-2/iframe-wrapper'>Iframe Wrapper</a>        </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li><a title="Shortcodes " asp-controller="Home" asp-action="About" class="@ViewData["aboutActive"]">আমাদের সম্পর্কে </a>        </li>

                                    <li class="haveChild level1">
                                        <a title="Pages " asp-controller="Home" asp-action="Contact" class="@ViewData["contactActive"]">যোগাযোগ </a>							<span class="menuress-toggle"></span>
                                        <div class="res-wrapnav">
                                            <ul class="nav">
                                                <li class="haveChild level2">
                                                    <a title="About Page" href='index.php/bonus-pages/about-page'>About Page</a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="About Us" href='index.php/bonus-pages/about-page/about-us'>About Us</a>        </li>
                                                            <li><a title="About Basic" href='index.php/bonus-pages/about-page/about-basic'>About Basic</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="haveChild level2">
                                                    <a title="Services Page" href='index.php/bonus-pages/our-services'>Services Page</a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="Our Services - Layout1" href='index.php/bonus-pages/our-services/our-services-layout1'>Our Services - Layout1</a>        </li>
                                                            <li><a title="Our Services - Layout2" href='index.php/bonus-pages/our-services/our-services-layout2'>Our Services - Layout2</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="haveChild level2">
                                                    <a title="Contact" href='#'>Contact</a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="Contact - Default" href='index.php/bonus-pages/contact/contact-default'>Contact - Default</a>        </li>
                                                            <li><a title="Contact - Big Map" href='index.php/bonus-pages/contact/contact-big-map'>Contact - Big Map</a>        </li>
                                                            <li><a title="Contact - Sidebar" href='index.php/bonus-pages/contact/contact-sidebar'>Contact - Sidebar</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="haveChild level2">
                                                    <a title="Photo Gallery " href='index.php/bonus-pages/photo-gallery'>Photo Gallery </a>							<span class="menuress-toggle"></span>
                                                    <div class="res-wrapnav">
                                                        <ul class="nav">
                                                            <li><a title="Gallery (2 columns)" href='index.php/bonus-pages/photo-gallery/gallery-2-columns'>Gallery (2 columns)</a>        </li>
                                                            <li><a title="Gallery  (3 columns)" href='index.php/bonus-pages/photo-gallery/gallery-3-columns'>Gallery  (3 columns)</a>        </li>
                                                            <li><a title="Gallery  (4 columns)" href='index.php/bonus-pages/photo-gallery/gallery-4-columns'>Gallery  (4 columns)</a>        </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a title="Join Now" href='index.php/bonus-pages/join-now'>Join Now</a>        </li>
                                                <li><a title="FAQ" href='index.php/bonus-pages/faq'>FAQ</a>        </li>
                                                <li><a title="Page 404" href='index.php/bonus-pages/page-404'>Page 404</a>        </li>
                                                <li><a title="Privacy Policy" href='index.php/bonus-pages/testimonial2'>Privacy Policy</a>        </li>
                                                <li><a title="Terms Of Service" href='index.php/bonus-pages/terms-of-service'>Terms Of Service</a>        </li>
                                                <li><a title="Sitemap" href='index.php/bonus-pages/sitemap'>Sitemap</a>        </li>
                                                <li><a title="Coming Soon" href='index.php/bonus-pages/2015-01-19-08-45-32'>Coming Soon</a>        </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="haveChild level1">
                                        <a title="Kunena" asp-controller="Login" asp-action="Login" class="@ViewData["loginActive"]">লগ ইন</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <script type="text/javascript">
                          jQuery(document).ready(function ($) {
                                $('.btn-navbar').click(function () {
                                    $(this).children().toggleClass('fa-times');
                                });
                                $("ul.resmenu li.haveChild").each(function () {
                                    $(this).children(".res-wrapnav").css('display', 'none');
                                    var ua = navigator.userAgent,
                                        event = (ua.match(/iPad/i)) ? "touchstart" : "click";
                                    $(this).children(".menuress-toggle").bind(event, function () {

                                        $(this).siblings(".res-wrapnav").slideDown(350);
                                        $(this).parent().siblings("li").children(".res-wrapnav").slideUp(350);
                                        $(this).parent().siblings("li").removeClass("active");

                                        $(this).parent().addClass(function () {
                                            if ($(this).hasClass("active")) {
                                                $(this).removeClass("active");
                                                $(this).children(".res-wrapnav").slideToggle();
                                                return "";
                                            }
                                            return "active";
                                        });
                                    });
                                });
                            });
                        </script>
                    </div>
                    <div class="custom_eiin">
                        <p class="custom_eiin">বিদ্যালয় কোড - ৩০৭০৪০৪০৬ -- EIIN-138161</p>
                    </div>
                </div>
            </div>

        </nav>

        <!----------------------------------------------------------------
        ----------------------------------------------------------------->
        @RenderBody()
        <!----------------------------------------------------------------
        ----------------------------------------------------------------->

            <footer class="k2t-footer">
            <div class="k2t-bottom" style="">
                <div class="k2t-wrap">
                    <div class="k2t-row">
                        <div class="col-3">
                            <aside id="text-2" class="widget widget_text">
                                <h4 class="widget-title"><span>যোগাযোগের ঠিকানা </span></h4>			<div class="textwidget">
                                    <p style="color:white;">গ্রাম: নগরহাওলা, ডাকঘর: গাজীপুর, শ্রীপুর, গাজীপুর।</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+৮৮ ০১৯২৬-৭০২০২৬</li>
                                        <li><i class="fa fa-phone"></i>+৮৮ ০১৭১৩-৫৩০৭৫০</li>
                                        <li><a href="https://www.gmail.com/nagarhawlagps.bd@gmail.com/"><i class="fa fa-envelope"></i>nagarhawlagps.bd@gmail.com</a></li>
                                    </ul>
                                </div>
                            </aside><aside id="k2t_social-2" class="widget social-widget"><ul><li class="facebook"><a target="_blank" href="https://www.facebook.com/nogorhawlagovtprimaryschool/"><i class="fa fa-facebook"></i></a></li><li class="instagram"><a target="_blank" href="http://www.instagram.com/nhgps/"><i class="fa fa-instagram"></i></a></li><li class="google"><a target="_blank" href="https://www.google.com"><i class="fa fa-google-plus"></i></a></li></ul></aside>
                        </div>
                        <div class="col-3">
                            <aside id="nav_menu-5" class="widget widget_nav_menu">
                                <h4 class="widget-title"><span>গুরুত্বপূর্ণ লিংক</span></h4>
                                <div class="menu-bottom-menu-container">
                                    <ul id="menu-bottom-menu" class="menu">
                                        <li id="menu-item-2162" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2162"><a href="http://www.educationboard.gov.bd/" target="_blank">শিক্ষা অধিদপ্তর</a></li>
                                        </br>
                                        <li id="menu-item-2163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2163"><a href="http://www.moedu.gov.bd/" target="_blank">শিক্ষা মন্ত্রনালয়</a></li>
                                        </br>
                                        <li id="menu-item-2164" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2164"><a href="http://www.naem.gov.bd/" target="_blank">জাতীয় শিক্ষা একাডেমী</a></li>
                                        </br>
                                        <li id="menu-item-2165" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2165"><a href="http://www.forms.gov.bd/" target="_blank">সরকারি ফর্ম</a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>

                        <div class="col-3">
                            <aside id="mc4wp_form_widget-3" class="widget widget_mc4wp_form_widget">
                                <h4 class="widget-title"><span>আপনার মন্তব্য </span></h4>
                                <script type="text/javascript">
                                    (function () {
                                        if (!window.mc4wp) {
                                            window.mc4wp = {
                                                listeners: [],
                                                forms: {
                                                    on: function (event, callback) {
                                                        window.mc4wp.listeners.push({
                                                            event: event,
                                                            callback: callback
                                                        });
                                                    }
                                                }
                                            }
                                        }
                                    })();
                                </script>
                                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-3154 mc4wp-form-basic" method="post" data-id="3154" data-name="Default sign-up form">
                                    <div class="mc4wp-form-fields">
                                        <p class="footer-left">
                                            <input type="text" id="mc4wp_email" name="EMAIL" placeholder="লিখুন ..." required="">
                                            <input type="email" id="mc4wp_email" name="EMAIL" placeholder="আপনার ইমেইল ..." required="">
                                        </p>
                                        <p class="footer-right">
                                            <input type="submit" value="সেন্ড করুন " class="btn-ripple">
                                        </p><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1519219542"><input type="hidden" name="_mc4wp_form_id" value="3154"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                                    </div>
                                <div class="mc4wp-response"></div>
                                </form>
                            </aside>
                        </div>
                        <div class="col-3">
                            <aside id="text-3" class="widget widget_text">
                                <h4 class="widget-title"><span>Instagram</span></h4>
                                <div class="textwidget">
                                    <div class="k2t-Instagram columns-3">
                                        <div class="instagram-item"><a href="https://www.instagram.com/p/5_uJFER54c/"><img width="80" height="80" src="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis1.jpg" class="attachment-full size-full" alt="" srcset="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis1.jpg 80w, http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis1-55x55.jpg 55w" sizes="(max-width: 80px) 100vw, 80px"></a></div>
                                        <div class="instagram-item"><a href="https://www.instagram.com/p/5_uERZx54S/"><img width="80" height="80" src="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis2.jpg" class="attachment-full size-full" alt="" srcset="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis2.jpg 80w, http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis2-55x55.jpg 55w" sizes="(max-width: 80px) 100vw, 80px"></a></div>
                                        <div class="instagram-item"><a href="https://www.instagram.com/p/5_t_JIx54M/"><img width="80" height="80" src="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis3.jpg" class="attachment-full size-full" alt="" srcset="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis3.jpg 80w, http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis3-55x55.jpg 55w" sizes="(max-width: 80px) 100vw, 80px"></a></div>
                                        <div class="instagram-item"><a href="https://www.instagram.com/p/5_t7nBR54K/"><img width="80" height="80" src="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis4.jpg" class="attachment-full size-full" alt="" srcset="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis4.jpg 80w, http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis4-55x55.jpg 55w" sizes="(max-width: 80px) 100vw, 80px"></a></div>
                                        <div class="instagram-item"><a href="https://www.instagram.com/p/5_t2zlR54G/"><img width="80" height="80" src="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis5.jpg" class="attachment-full size-full" alt="" srcset="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis5.jpg 80w, http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis5-55x55.jpg 55w" sizes="(max-width: 80px) 100vw, 80px"></a></div>
                                        <div class="instagram-item"><a href="https://www.instagram.com/p/5_tzgqR54E/"><img width="80" height="80" src="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis6.jpg" class="attachment-full size-full" alt="" srcset="http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis6.jpg 80w, http://demo.lunartheme.com/lincoln/wp-content/uploads/2017/10/fis6-55x55.jpg 55w" sizes="(max-width: 80px) 100vw, 80px"></a></div>
                                        <p class="follow"><a href="https://www.instagram.com/nhgps"><i class="fa fa-instagram"></i>nhgps_edu</a></p>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>

            <div class="k2t-info" style="">
                <div class="container">
                    <div class="k2t-row">
                        <div class="col-6" style="color:black;">
                            <strong>কপিরাইট &copy; ২০১৮ <a asp-controller="Home" asp-action="Index">নগর হাওলা সরকারি প্রাথমিক বিদ্যালয়</a>-</strong>সমস্ত অধিকার সংরক্ষিত।
                            </div>
                        <div class="col-6">
                            <aside id="nav_menu-3" class="widget widget_nav_menu">
                                <div class="menu-bottom-menu-container">
                                    <ul id="menu-bottom-menu-1" class="menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2162"><a href="#">TERMS OF USE</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2163"><a href="#">PRIVACY AND SECURITY</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2164"><a href="#">POLICY</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2165"><a href="#">SITEMAP</a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <a id="yt-totop" class="backtotop" href="#"><i class="fa fa-angle-up"></i> Top </a>
        <script type="text/javascript">
            jQuery('.backtotop').click(function () {
                jQuery('body,html').animate({
                    scrollTop: 0
                }, 1200);
                return false;
            });
        </script>
    </div>
</body>
</html>
